<?xml version="1.0" encoding="UTF-8"?>
<MembershipConfig>
<Cluster ipMaster="172.22.150.53" cmdPort="9090" zooIP="172.22.150.56" />
  <Failure interval="10000" />
    <Logger path="/home/ajayaku2/mp4/log" />
      <Topologies jarPath="/home/ajayaku2/mp4/jar" transferInterval="100"/>
        <Disruptor  ringBufferValue="2048"/>
</MembershipConfig>
