<?xml version="1.0" encoding="UTF-8"?>
<MembershipConfig>
  <!--10.16.8.85 --><Cluster ipMaster="10.0.0.4" cmdPort="9090" zooIP="localhost" />
  <Failure interval="30000" />
  <Logger path="/Users/banumuthukumar/Desktop/cs425/MP4/logfile" />
  <Topologies jarPath="/Users/banumuthukumar/Desktop/myfile.jar" transferInterval="3000"/>
  <Disruptor  ringBufferValue="2048"/>
</MembershipConfig>
